<div class="row">
  <h1>
    <span style="color: blue; font-weight: bold; font-family: fantasy;">!</span>Daily Quests
  </h1>
</div>

<div class="row">
  <p>
    Daily quests are to-do lists for your life. They are activities that you want to become routine.
    They should contribute to your life goals and long term happiness.
  </p>
  <p>
    Build your quest log here, and check it every day to remind yourself of what you should be doing.
    Tick off quests as you complete them each day. Completing quests on consecutive days will build an ever higher
    chain score.
  </p>
</div>

<div class="row">
  <%= link_to 'Embark on a New Quest!', new_quest_path, class: 'btn btn-success' %>
</div>

<% unless @quests.empty? %>
  <div class="row">
    <div class="table-container">
      <table class="table" id="quest-table">
        <thead>
        <th>Description</th>
        <th>Goal</th>
        <th>Reward</th>
        <th>Current Chain</th>
        <th>Longest Chain</th>
        <th>Total Completions</th>
        <th>Complete Today</th>
        </thead>
        <tbody>
        <% @quests.each do |quest| %>
          <tr>
            <td>
              <%= link_to quest.description, edit_quest_path(quest.id) %>
            </td>
            <td><%= quest.goal %></td>
            <td><%= quest.reward %></td>
            <td id="<%= quest.id %>_chain"><%= quest.chain %></td>
            <td id="<%= quest.id %>_longest"><%= quest.longest_chain %></td>
            <td id="<%= quest.id %>_completions"><%= quest.completions.size %></td>
            <td>
              <%= check_box_tag 'complete', quest.id, quest.complete_today?,
                                data: {
                                    remote: true,
                                    url: url_for(action: :toggle, id: quest.id),
                                    method: 'POST'
                                }
              %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <blockquote>
      <p>We are what we repeatedly do. Excellence, then, is not an act, but a habit.</p>
      <footer>Aristotle</footer>
     </blockquote>
  </div>
  <div class="modal fade" id="rewardModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Reward Unlocked!</h4>
        </div>
        <div class="modal-body">
          Congratulations, you set a goal to complete this quest <strong><span id="goalModalText"></span></strong> times, and you just did.
          Your reward for completing this quest is <strong><span id="rewardModalText"></span></strong>.
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
<% end %>
