<div class="row">
  <h1>
    <span style="color: blue; font-weight: bold; font-family: fantasy;">!</span>Daily Quests
  </h1>
</div>

<div class="row">
  <p>
    Daily quests are to-do lists for your life. They are activities that you want to become routine.
    They should contribute to your life goals and long term happiness.
    Build your quest log here, and check it every day to remind yourself of what you should be doing.
    Tick off quests as you complete them each day. Completing quests on consecutive days will build an ever higher
    chain score.
  </p>
</div>

<div class="row">
  <%= link_to 'Embark on a New Quest!', new_quest_path, class: 'btn btn-success' %>
</div>

<% unless @quests.empty? %>
  <div class="row">
    <table class="table">
      <thead>
        <th>Description</th>
        <th>Goal</th>
        <th>Reward</th>
        <th>Current Chain</th>
        <th>Longest Chain</th>
        <th>Total Completions</th>
        <th>Complete Today</th>
      </thead>
      <tbody>
      <% @quests.each do |quest| %>
          <tr>
            <td>
              <%= link_to quest.description, edit_quest_path(quest.id) %>
            </td>
            <td><%= quest.goal %></td>
            <td><%= quest.reward %></td>
            <td id="<%= quest.id %>_chain"><%= quest.chain %></td>
            <td id="<%= quest.id %>_longest"><%= quest.longest_chain %></td>
            <td id="<%= quest.id %>_completions"><%= quest.completions.size %></td>
            <td>
              <%= check_box_tag 'complete', quest.id, quest.complete_today?,
                                data: {
                                    remote: true,
                                    url: url_for(action: :toggle, id: quest.id),
                                    method: 'POST'
                                }
              %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
